.latestcard{
    background: rgba(93, 93, 93, 0.3);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    height: 300px;
    color: white;
    border-radius: 10px;
    position: relative;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Limit to 4 lines */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis (...) */
    line-height: 1.5; /* Set line height for better spacing */
    max-height: 6rem; /* Adjust based on line height and number of lines */
  }

.card-container a .card{
    position: relative;
    margin-bottom: -100px;
}

.card-container a:last-child .card{
    margin-bottom: 0px;
}

.card-container .card img{
    position: relative;
    top: -150px;
    left: 350px;
    width: 50%;
    border-radius: 10px;

}

.latestcard p{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    width: 300px;
    color: rgb(180, 180, 180);
}


.latestcard .category ul{
    display: flex;
    list-style: none;
    gap: .5rem;
    position: absolute;
    bottom: 10px;
}

.category ul li i{
    font-size: 10px;
    margin-right: 2px;
}

.category ul li {
    color: gray;
    padding: 5px;
    display: flex;
    align-items: center;
}

.latestcard span{
    color: gray;
    font-size: 12px;
}

.latestcard h3{
    margin-top: 10px;
}